body {
  background-color: #011627;
  color: #fdfffc;
}

.gridItem {
  background-color: #2ec4b6;
  border: 4px solid #e71d36;
  padding: 10px;
  font-size: 2rem;
  text-align: center;
}

.gridContainer {
  border: 4px solid #ff9f1c;

  display: grid;

  /* Using PX - Absolute */
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 200px 200px 200px 200px;

  /* Using auto: adjust width and height based on the content */
  grid-template-columns: auto auto auto auto;

  /* Using percentage */
  /* grid-template-columns: 33% 33% 33%; */
  grid-template-columns: 25% 25% 25% 25%;

  /* Using Fr - Fractional units */
  grid-template-columns: 1fr 1fr 1fr;

  /* Don't Repeat Yourself (DRY) */
  /* grid-template-columns: repeat(number_of_times, unit_of_measurement); */
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);

  /* Column and Row Gap */
  /* column-gap: 10px; */
  /* row-gap: 10px; */
  /* gap: 10px; */

  grid-template-areas:
    "header header header header header header"
    "aside aside main main main main"
    "aside aside main main main main"
    "aside aside main main main main"
    "aside aside main main main main"
    "footer footer footer footer footer footer";
}

.gridItem1 {
  /* grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 7; */
  grid-area: header;
}

.gridItem2 {
  /* grid-row: [row-start] / [row-end] */
  /* grid-row: 2 / 6; */

  /* grid-column: [column-start] / [column-end]; */
  /* grid-column: 1 / 3; */
  grid-area: aside;
}

.gridItem3 {
  /* grid-row: span 4; */
  /* grid-column: span 4; */
  grid-area: main;
}

.gridItem4 {
  /* grid-area: [row-start] / [column-start] / [row-end] / [column-end]; */
  /* grid-area: 6 / 1 / 7 / 7; */
  grid-area: footer;
}
